footer{
    font-family: 'Quicksand';
    background-color: rgb(33, 37, 41);
}

.darkWindow {
    padding-top: 120px;
    padding-bottom: 40px;
}
.centerLinks li a img{  
    vertical-align: middle;
    padding: 5px;
    height: 50px;
}

.footerText {
    font-family: "Quicksand";
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 100;
    color: white;
    padding-bottom: 60px;
}

@media(max-width: 768px) {
    .footerText {
        font-size: 18px;
    }
    .centerLinks {
        margin-right: 30px;
    }
}