html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  font-family: 'Quicksand';
}
header {
  width: 100%;
  height: 100vh;
  background: url('../images/background.jpg') no-repeat 50% 50%;
  background-size: cover;
}
.logo {
  position: fixed;
  float: left;
  margin: 16px 36px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}
nav {
  position: fixed;
  width: 100%;
}
nav ul {
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: white;
  padding: 0;
  text-align: center;
  margin: 0;
  transition: 400ms; 
}
nav.white ul{
  background: #fff;
}
nav.white a{
  color: #000;
}
nav.white .logo {
    color: #000;
}
nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
nav ul li a:hover{
  text-decoration: none;
}
.menu-icon {
  width: 100%;
  background: #fff;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #000;
  display: none;
}
/*The actual content*/
.content {
  width: 100%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}
.myname h1{
    color: #fff;
    font-size: 56px;
    font-weight: 10;
    margin: 300px 0 150px 0;
    letter-spacing: 20px;
}
.south {
    text-align: center;
}
.about {
    margin-left: 200px;
    margin-right: 250px;
    padding-top: 100px;
    padding-bottom: 150px;
}
.about p{
    font-size: 22px;
    padding-top: 80px;
    font-weight: 60;
}
.profile img{
  width: 300px;
}
.skill {
    background-color: rgb(33, 37, 41);
    width: 100%;
    padding: 10px;
    color: #fff;
    margin-top: 60px;
    font-family: 'Quicksand';
}
.skill h1{
    font-weight: 900;
    margin-left: 200px;
    margin-top: 120px;  
}
.skill h3{
    margin-bottom: 30px;
}
.skill p{
    font-size: 22px;
}
.skillLinks img{
    height: 100px;
    margin: 40px;
}
@media(max-width: 1200px) {

    .skill {
        margin-top: 100px;
    }
    .skill h1{
        margin-left: 40px;
        margin-top: 80px;
        letter-spacing: 2px;
        margin-bottom: 20px;
    }
    .skillLinks p {
        font-size: 18px;    
    }
    .skillLinks {
        margin-right: 5px;
        margin-left: 5px;
    }
    .skillLinks img{
        height: 80px;
        margin: 20px;
    }
    .about {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 18px;
    }
    .profile img{
        width: 280px;
        margin-bottom: 10px;
        align-content: center;
    }
    .about p{
        margin-left: 2px;
        margin-right: 2px;
    }
    .logo {
        position: fixed;
        top: 0;
        color: #000;
        margin-top: 16px;
        font-size: 20px;
    }
    nav ul {
        max-height: 0px;
        background: #fff;
    }
    nav.black ul {
        background: #fff;
    }
    .showing {
        max-height: 40em;
    }
    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 34px 0;
        text-align: center;
    }
    nav ul li a { 
        color: #000;
    }
    .menu-icon {
        display: block;
    }
    .myname h1{
        text-align: center;
        font-size: 40px;
        margin-left: 10px;
        margin-right: 10px;
        letter-spacing: 10px;
    }
    .south a {
        text-align: center;
    }
}
