html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  font-family: 'Quicksand';
}
header {
  width: 100%;
  height: 100vh;
  background: url('../images/background4.jpg') no-repeat 50% 50%;
  background-size: cover;
}
.logo {
  position: fixed;
  float: left;
  margin: 16px 36px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}
nav {
  position: fixed;
  width: 100%;
}
nav ul {
  list-style: none;
  background: rgba(0, 0, 0, 0);
  overflow: hidden;
  color: white;
  padding: 0;
  text-align: center;
  margin: 0;
  transition: 400ms; 
}
nav.white ul{
  background: #fff;
}
nav.white a{
  color: #000;
}
nav.white .logo {
    color: #000;
}
nav ul li {
  display: inline-block;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
}
nav ul li a:hover{
  text-decoration: none;

}
nav ul li a:link{
    text-decoration: none;
  }
nav ul li a:active{
    text-decoration: none;
}
nav ul li a:visited{
    text-decoration: none;
}
.menu-icon {
  width: 100%;
  background: #fff;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #000;
  display: none;
}
/*The actual content*/
.content {
  width: 100%;
  margin: 4em auto;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}
.myname h1{
    color: #fff;
    font-size: 56px;
    font-weight: 10;
    margin: 300px 0 150px 0;
    letter-spacing: 20px;
}
.south {
    text-align: center;
}
.about {
    margin-left: 200px;
    margin-right: 250px;
    padding-top: 100px;
    padding-bottom: 150px;
}
.about p{
    font-size: 22px;
    padding-top: 80px;
    font-weight: 60;
}
.profile img{
  width: 300px;
}
/*SKILL BAR*/
.skill {
    background-color: rgb(33, 37, 41);
    width: 100%;
    padding: 10px;
    color: #fff;
    margin-top: 60px;
    font-family: 'Quicksand';
}
.skill h1 {
    margin-left: 180px;
    margin-top: 80px;
}
.skill h3{
    margin-left: 50px;
    margin-bottom: 50px;
}
.skillrow {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 60px;
    margin-bottom: 80px;
}
.skillrow p{
    font-size: 16px;
    margin-bottom: 5px;
}
/*skill bar*/

ul {
    list-style-type: none;
}

/*	3. Skills
================================================================================ */
#skills {
    margin: 0 auto;
    width: 80%;
    max-width: 960px;
}
#skills li {
    position: relative;
    margin-bottom: 32px;
    padding-left: 6px;
}
#skills li .bar-container,
#skills li .bar {
    position: absolute;
    left: 0;
    height: 5px;
    border-radius: 5px;
    content: "";
}
#skills li .bar-container {
    bottom: -8px;
    width: 100%;
    background-color: #333;
    text-align: right;
}
#skills li .bar-container .bar {
    top: 0;
}
#skills li .bar-container .pct {
    position: absolute;
    top: -19px;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s linear;
}
  

@media(max-width: 1200px) {
    .parallax {
        background-attachment: scroll;
    }
    .skill {
        margin-top: 60px;
    }
    .skill h1{
        margin-left: 40px;
        margin-top: 80px;
        letter-spacing: 2px;
        margin-bottom: 20px;
        font-size: 22px;
    }
    .skill h3 {
        font-size: 21px;
        margin-bottom: 50px;
    }
    .skillrow {
        margin-left: 1px;
        width: 100%;
    }
    .skillrow p{
        padding-bottom: 5px;
        padding-top: 1px;
        font-size: 14px;     
    }
    .programming {
        margin-bottom: 80px;
    }
    .dbms {
        margin-bottom: 80px;
    }
    .about {
        margin-top: 50px;
        margin-bottom: 50px;
        margin-left: 15px;
        margin-right: 15px;
        font-size: 18px;
    }
    .profile img{
        width: 280px;
        margin-bottom: 10px;
        align-content: center;
    }
    .about p{
        margin-left: 2px;
        margin-right: 2px;
    }
    .logo {
        position: fixed;
        top: 0;
        color: #000;
        margin-top: 16px;
        font-size: 20px;
    }
    nav ul {
        max-height: 0px;
        background: #fff;
    }
    nav.black ul {
        background: #fff;
    }
    .showing {
        max-height: 40em;
    }
    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 34px 0;
        text-align: center;
    }
    nav ul li a { 
        color: #000;
    }
    .menu-icon {
        display: block;
    }
    .myname h1{
        text-align: center;
        font-size: 40px;
        margin-left: 10px;
        margin-right: 10px;
        letter-spacing: 10px;
    }
    .south a {
        text-align: center;
    }
}
